<link rel="import" href="/components/polymer/polymer.html"/>
<link rel="import" href="/components/bs-settings/bs-settings.html" />
<link rel="import" href="/components/iron-ajax/iron-ajax.html" />

<dom-module id="bs-api">
    <template>
        <bs-settings settings="{{settings}}" on-settings-loaded="_settingsLoaded"></bs-settings>
    </template>
    <script>
    'use strict';

    Polymer({
        is: 'bs-api',

        ready: function() {
            // TODO: possible memory leak. listen when attached and un-listen when detached.
            this.ajax = document.createElement('iron-ajax');

            this.ajax.addEventListener('error', this._onError.bind(this), false);
            this.ajax.addEventListener('response', this._onResponse.bind(this), false);
        },

        _settingsLoaded: function() {
            this._executeQueue();
        },

        _onError: function(ev) {
            this._fireError(ev.detail.error);
        },

        _onResponse: function(ev) {
            var response = ev.detail.response;

            if(response.success !== true) {
                return this._fireError(response.message);
            }

            this._fireSuccess(response.data);
        },

        _fireSuccess: function(response) {
            this.fire('response', {response: response});
        },

        _fireError: function(error) {
            this.fire('error', {error: error});
        },

        send: function(method, endpoint, params) {
            var settings = this.settings,
            ajax = this.ajax,
            ajaxResolves, ajaxRejects;

            this._queue(function() {
                ajax.method = method;
                ajax.url = this.settings.apiBaseUrl + endpoint;
                ajax.handleAs = 'json';
                ajax.debounceDuration = 100;
                ajax.params = params;

                ajax.generateRequest().completes.then(function(request) {
                    var response = request.response;

                    if(response.success) {
                        ajaxResolves(response.data);
                    }
                    else {
                        ajaxRejects(response.error);
                    }
                }).catch(function(error) {
                    ajaxRejects(error);
                });
            });

            return new Promise(function(resolve, reject) {
                ajaxResolves = resolve;
                ajaxRejects = reject;
            });
        },

        _waitlist: [],

        _queue: function(func) {
            var boundFunc = func.bind(this);

            if(this._isReady) {
                boundFunc();
            }
            else {
                this._waitlist.push(boundFunc);
            }
        },

        _executeQueue: function() {
            this._isReady = true;

            this._waitlist.map(function(boundFunc) {
                boundFunc();
            });
        },

        get: function(endpoint, params) {
            return this.send('GET', endpoint, params);
        },

        post: function(endpoint, params) {
            return this.send('POST', endpoint, params);
        },

        put: function(endpoint, params) {
            return this.send('PUT', endpoint, params);
        },

        delete: function(endpoint, params) {
            return this.send('DELETE', endpoint, params);
        }
    });
    </script>
</dom-module>
