<link rel="import" href="/components/polymer/polymer.html" />
<link rel="import" href="/components/iron-icons/iron-icons.html" />
<link rel="import" href="/components/iron-icons/av-icons.html" />
<link rel="import" href="/components/paper-fab/paper-fab.html" />
<link rel="import" href="/components/bs-api/bs-api.html" />

<dom-module id="bs-ride-button">
  <style>
    paper-fab {
      vertical-align: middle;
      margin: 0 10px;
    }
  </style>
  <template>
    <bs-api id="api"></bs-api>
    <span>{{rideId}}</span>
    / <span>{{tagId}}</span>
    <paper-fab mini icon="{{tagIconName}}" on-click="toggleTag"></paper-fab>
    <paper-fab icon="{{iconName}}" on-click="toggleRecording"></paper-fab>
  </template>
  <script>
  Polymer({
    is: 'bs-ride-button',
    _isRecording: false,
    tagId: null,
    _tagIdCounter: 1,
    tagIconName: 'icons:label-outline',

    ready: function() {
      this.isRecording(false);
    },

    toggleRecording: function() {
      if(this.isRecording()) this.stopRecording();
      else this.startRecording();
    },

    startRecording: function() {
      if(this.isRecording()) return; // already running

      var api = this.$.api,
          rideId = parseInt(Math.random()*100000);

      this.rideId = rideId;

      api.post('/rideInfo', {
        rideId: rideId,
        status: 'inprogress',
        startedAt: +new Date()
      });

      // start watching sensors
      this.sensors.startWatching(this.onReading.bind(this), this.onError.bind(this));

      this.isRecording(true);
    },

    stopRecording: function() {
      if(!this.isRecording()) return; // already stopped

      var api = this.$.api;

      api.put('/rideInfo/'+this.rideId, {
        status: 'completed',
        endedAt: +new Date()
      });

      // stop watching sensors
      this.sensors.stopWatching();

      this.isRecording(false);
      this.endTag();
    },

    isRecording: function(value) {
      // getter: Simply return the recording status
      if(typeof(value) === 'undefined') return this._isRecording;

      // setter: Set the value for status and also update icon
      this._isRecording = !!value;
      this.iconName = this._isRecording ? 'av:pause' : 'av:play-arrow';
    },

    onReading: function(reading) {
      var api = this.$.api,
          acc = reading.acceleration || {},
          geo = reading.position || {};

      api.post('/sensorData', {
        accX: acc.x,
        accY: acc.y,
        accZ: acc.z,
        timestamp: +new Date(),
        geoLatitude: geo.latitude,
        geoLongitude: geo.longitude,
        geoAccuracy: geo.accuracy,
        geoAltitude: geo.altitude,
        geoAltitudeAccuracy: geo.altitudeAccuracy,
        geoHeading: geo.heading,
        geoSpeed: geo.speed,
        rideId: this.rideId,
        tagId: this.tagId?this.tagId:null,
        version: 1
      });
    },

    onError: function(err) {
      console.error(err);
    },

    toggleTag: function() {
      if(this.tagId) this.endTag();
      else this.startTag();
    },

    startTag: function() {
      if(this.tagId) {
        alert('tag already recording');
        return;
      }

      if(!this.isRecording()) {
        alert('No ride is being recorded');
        return;
      }

      this.tagId = this._tagIdCounter++;
      this.tagIconName = 'icons:label';
    },

    endTag: function() {
      if(!this.tagId) return;

      this.tagId = null;
      this.tagIconName = 'icons:label-outline';
    },

    sensors: {
      _watchId: null,
      _config: {
        frequency: 300 // milliseconds
      },
      startWatching: function(onReading, onError) {
        // if(!navigator || !navigator.sensors) return;
        //
        // this._watchId = navigator.sensors.watchAcceleration(onReading, onError, this._config);
        window.parent.postMessage('sensors-start', '*');
        window.addEventListener('message', function(ev) {
          var message = ev.data,
              type = message.type,
              data = message.data;
          if(type === 'sensors-reading') {
            onReading(data);
          }
        }.bind(this), false);
      },

      stopWatching: function() {
        // if(!navigator || !navigator.sensors) return;
        //
        // navigator.sensors.clearWatch(this._watchId);
        window.parent.postMessage('sensors-stop', '*');
      }
    }
  });
  </script>
</dom-module>
