<link rel="import" href="/components/polymer/polymer.html" />
<link rel="import" href="/components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/components/iron-icons/iron-icons.html" />
<link rel="import" href="/components/iron-icons/av-icons.html" />
<link rel="import" href="/components/paper-fab/paper-fab.html" />

<dom-module id="bs-ride-button">
  <template>
    <iron-ajax
        id="endpoint"
        url="http://goje87.com"
        handle-as="json"
        debounce-duration="100">
    </iron-ajax>
    <paper-fab icon="{{iconName}}"></paper-fab>
  </template>
  <script>
  Polymer({
    is: 'bs-ride-button',
    _isRecording: false,

    listeners: {
      'tap': 'toggleRecording'
    },

    ready: function() {
      console.log(this.is + ' is ready');
      this.isRecording(false);
    },

    toggleRecording: function() {
      if(this.isRecording()) this.stopRecording();
      else this.startRecording();
    },

    startRecording: function() {
      if(this.isRecording()) return; // already running

      // start watching accelerometer
      this.accelerometer.startWatching(this.onReading.bind(this), this.onError.bind(this));

      this.isRecording(true);
    },

    stopRecording: function() {
      if(!this.isRecording()) return; // already stopped

      // stop watching accelerometer
      this.accelerometer.stopWatching();

      this.isRecording(false);
    },

    isRecording: function(value) {
      // getter: Simply return the recording status
      if(typeof(value) === 'undefined') return this._isRecording;

      // setter: Set the value for status and also update icon
      this._isRecording = !!value;
      this.iconName = this._isRecording ? 'av:pause' : 'av:play-arrow';
    },

    onReading: function(acc) {
      console.log(acc);
      var endpoint = this.$.endpoint;
      endpoint.params = acc;
      endpoint.generateRequest();
    },

    onError: function(err) {
      console.error(err);
    },

    accelerometer: {
      _watchId: null,
      _config: {
        frequency: 300 // milliseconds
      },
      startWatching: function(onReading, onError) {
        // if(!navigator || !navigator.accelerometer) return;
        //
        // this._watchId = navigator.accelerometer.watchAcceleration(onReading, onError, this._config);
        window.parent.postMessage('accelerometer-start', '*');
        window.addEventListener('message', function(ev) {
          var message = ev.data,
              type = message.type,
              data = message.data;
          if(type === 'accelerometer-reading') {
            onReading(data);
          }
        }.bind(this), false);
      },

      stopWatching: function() {
        // if(!navigator || !navigator.accelerometer) return;
        //
        // navigator.accelerometer.clearWatch(this._watchId);
        window.parent.postMessage('accelerometer-stop', '*');
      }
    }
  });
  </script>
</dom-module>
