<link rel="import" href="/components/polymer/polymer.html" />
<link rel="import" href="/components/bs-sensors/bs-sensors.html" />
<link rel="import" href="/components/bs-api/bs-api.html" />
<link rel="import" href="/components/bs-dataset/bs-dataset-rides.html" />

<dom-module id="bs-ride-recorder">
    <template>
        <bs-dataset-rides id="rides" model="{{model}}"></bs-dataset-rides>
    </template>
    <script>
    (function() {

        var globals = {
            isRecording: false,
            rideId: null
        };

        Polymer({
            is: 'bs-ride-recorder',
            get isRecording() {
                return globals.isRecording;
            },

            set isRecording(value) {
                globals.isRecording = value;
                this.fire('is-recording-changed');
            },

            get rideId() {
                return globals.rideId;
            },

            set rideId(id) {
                globals.rideId = id;
                this.fire('ride-id-changed');
            },

            ready: function() {
                var api = document.createElement('bs-api');
                
                this.isRecording = false;
                this.rides = this.$.rides;
                this.sensors = document.createElement('bs-sensors');

                this._onReading = function(ev) {
                    var reading = ev.detail,
                        acc = reading.acceleration || {},
                        geo = reading.position || {},
                        timestamp = reading.timestamp;

                    if(timestamp === this.prevTimestamp) return;

                    api.post('/sensorData', {
                        accX: acc.x,
                        accY: acc.y,
                        accZ: acc.z,
                        timestamp: timestamp,
                        geoLatitude: geo.latitude,
                        geoLongitude: geo.longitude,
                        geoAccuracy: geo.accuracy,
                        geoAltitude: geo.altitude,
                        geoAltitudeAccuracy: geo.altitudeAccuracy,
                        geoHeading: geo.heading,
                        geoSpeed: geo.speed,
                        rideId: this.rideId,
                        version: 1
                    });

                    this.prevTimestamp = timestamp;

                    this.fire('reading', reading);

                }.bind(this);
            },

            startRecording: function() {
                if(this.isRecording) return;

                this.sensors.start();
                this.sensors.addEventListener('reading', this._onReading, false);
                this.rideId = Math.round(Math.random()*1000000);


                this.rides.add({
                    rideId: this.rideId,
                    status: 'inprogress',
                    startedAt: +new Date()
                });

                this.isRecording = true;
            },

            stopRecording: function() {
                if(!this.isRecording) return;

                this.sensors.stop();
                this.sensors.removeEventListener('reading', this._onReading, false);


                this.rides.update(this.rideId, {
                    status: 'completed',
                    endedAt: +new Date()
                });

                this.rideId = null;
                this.isRecording = false;
            }
        })
    })()
    </script>
</dom-module>
