<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.bsafe.sensors.motion" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BSMotionSensorsPlugin</name>
    <js-module name="BSMotionSensorsPlugin" src="www/BSMotionSensorsPlugin.js">
        <clobbers target="cordova.plugins.BSMotionSensorsPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BSMotionSensorsPlugin">
                <param name="android-package" value="com.bsafe.sensors.motion.BSMotionSensorsPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/BSMotionSensorsPlugin.java" target-dir="src/com/bsafe/sensors/motion/BSMotionSensorsPlugin" />
    </platform>
</plugin>
